{
    "extends": "ebay",
    "env": {
      "node": true
    },
    "rules": {
      "space-before-function-paren": ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}],
      "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
      "no-unused-expressions": 0,
      "no-unused-vars": ["error", { "args": "none" }],
      "no-param-reassign": ["warn", {"props": false}]
    }
}
